.receipt-his{
    display: flex;
    flex-direction: column;
    gap: 0;
    border-bottom: var(--gray) 1px solid;
    padding: 10px;
}

.his-active{
    border: var(--blue) 2px solid;
    border-radius: 15px;
}

.receipt-his-info{
    display: grid;
    grid-template-columns: 50% repeat(auto-fit, minmax(0, 1fr));
    gap: 10px;

    p{
        width: 100%;
        min-width: 0;
    }

    
}

.receipt-his-products{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 0;

    p{
        margin: 0;
    }

    div.indent{
        padding-left: 20px;
    }
}

.receipt-his-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media print {
    .receipt-his{
        display: none;
    }
}