.selling-form{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--blue);
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
    width: 50vw;
    position: relative;

    p{
        margin: 0;
    }
}

.selling-form-btn{
    display: flex;
    gap: 4px;;
}

.form-delete-btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 0 15px;
    padding: 15px;
    cursor: pointer;
}

.selling-form-product{
    padding-block: 20px;
    border-bottom: 2px solid var(--black);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    input{
        width: 15%;
    }
}

button.search-box{
    width: 100%;
}

.form-delivery{
    display: flex;
    gap: 4px;
    width: max-content;
    align-items: center;

    label{
        margin: 0;
    }
}

div.filter-option-inner-inner{
    font-weight: bold;
}

.selling-lid-container{
    margin-block: 10px 20px;
}

.unit-price{
    justify-content: flex-end;
    align-items: center;
    gap: 0;
    padding-inline: 12px;

    .price{
        margin: 0;
        padding: 0;
    }
}

.misc-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;

    label{
        margin: 0;
    }

    input{
        width: 100%;
    }

    input.small{
        width: 20%;
    }
}

input.quantity{
    width: 30%;
}