.print-receipt{
    width: 7cm;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    gap: 20px;
    padding: 0px;
    padding-top: 10px;
    display: none;

    p{
        margin: 0;
        padding: 0;
    }

    div.indent{
        padding-left: 20px;
    }
}

@media print{
    h1, h3, form, .selling-form {
        display: none;
    }

    .print-receipt{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}