.sidebar{
    background-color: var(--black);
    color: white;
    height: 100vh;
    width: 20vw;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.sidebar-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.link{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 15px;
}

.active{
    background-color: var(--blue);
}